<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <title>Todo list</title>
  </head>
  <body>
    <div class="container" style="margin-top: 5px; margin-bottom: 5px">
      <form action="/search/" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="search"
            placeholder="Buscar nota"
          />
        </div>
        <button type="submit" class="btn btn-primary">Buscar nota!</button>
        {% if search %}
        <p style="color: red"></p>
        {% else %}
        <p style="color: red">No puedes hacer una busqueda vacia</p>
        {% endif %}
      </form>
    </div>
    <br>
    <div class="container" style="margin-top: 5px; margin-bottom: 5px">
      <form action="/add_note" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="add_note"
            id="add_note"
            placeholder="Añadir nota"
          />
        </div>
        <button type="submit" class="btn btn-primary">Añadir nota!</button>
        {% if name %}
        <p style="color: red"></p>
        {% else %}
        <p style="color: red">No puedes poner una nota vacia!</p>
        {% endif %}
      </form>
    </div>
    <div class="container">
	{% for i in todo%}
      <div
        class="jumbotron container"
        style="
          padding: 2%;
          margin-bottom: 1rem;
          display: flex;
          flex-direction: row;
        "
      >
        <p>{{i[0]}}</p>
        <div style="flex: 1"></div>
        <form action="/edit/{{ i[0] }}" method="post">
          <button type="submit" class="btn btn-secondary" style="margin-right: 3px;">Editar</button>
        </form>
        <form action="/delete/" method="post">
          <button type="submit" class="btn btn-danger" name="delete" value="{{i[0]}}">Borrar!</button>
        </form>
        <hr />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
